<!DOCTYPE html>
<html>

<head>

    {{>title}}

    <script src="../../general/main/index.js" defer></script>

</head>

<body>
    <div>
        {{>header}}
    </div>

    <div>
        <form id="formLocation">
            <input id="location" type="text" placeholder="Location">
            <button type="submit">Search</button>
        </form>
    </div>

    <div>
        {{>footer}}
    </div>



</body>

</html>