<!DOCTYPE html>
<html>

<head>

    {{>title}}    

</head>

<body>
    <div>
        {{>header}}
    </div>

    <div>
        <p>{{errorMessage}}</p>
    </div>

    <div>
        {{>footer}}
    </div>



</body>

</html>